<!doctype html>
<html lang="rus">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

    <div class="container center">
        <div class='header'>
            <!-- <div class="header__positon"> -->
                <H1 class="header_title"> Заголовок сайта</H1>
                <div class=buttonbox>
                    <button class="btn btn_primery">ВХОД</button>
                    <button class="btn btn_primery">ВЫХОД</button>
                    <button class="btn btn_primery">РЕГИСТРАЦИЯ</button>
                </div>
            <!-- </div> -->

        </div>
        <div class="side_menu">
            {% include 'menu.html' %}
        </div>

        <div class="main_area ">
            {% block content %} {% endblock %}
        </div>

        <div class='footer'>
            <H1> Футтер сайта</H1>
        </div>
    </div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>