            <H1 class="side_menu__header"> Меню</H1>
            <ul>
                <h3></h3>
                <a href="{% url 'message:recipient_list'%}" class="link">Управление клиентами</a>
                <a href="{% url 'message:recipient_add'%}" class="link">Добавить клиета</a>
                <a href="{% url 'message:message_list'%}" class="link">Управление письмаим</a>
                <a href="{% url 'message:message_add'%}" class="link">Добавить письмо</a>
                <a href="{% url 'message:distribution_list'%}" class="link">Управление рассылками</a>
                <a href="{% url 'message:distribution_add'%}" class="link">Добавить рассылку</a>
                <a href="{% url 'message:statistics'%}" class="link">Статистика</a>
                <a href="{% url 'users:user_list'%}" class="link">Пользователи</a>
            </ul>