{% extends 'base.html' %}

{% block title %}Детальная информация о Рассылке{% endblock %}

{% block content %}

<p class="content">Получатели:</p>
{% for recipient in distribution.recipients.all %}
    <p class="content">{{recipient}}</p>
{% endfor %}
<p class="content">Дата и время первой отправки: {{distribution.datatime_first_sending | date:"d M Y H:i:s"}}</p>
<p class="content">Дата и время окончания отправки: {{distribution.datetime_end_sending | date:"d M Y H:i:s"}}</p>
<p class="content">Статус: {{distribution.status}}</p>
<p class="content">Сообщение: {{distribution.message}}</p>
<p class="content">Статус: {{distribution.mailings_status | yesno:"Активный,Заблокирован"}} </p>

{% if "message.change_distribution" in perms %}
    <a href="{% url 'message:distribution_update' distribution.pk%}" class="btn btn_primery">Изменить</a>
{% endif %}
{% if "message.change_distribution" in perms %}
    <a href="{% url 'message:distribution_delete' distribution.pk%}" class="btn btn_primery">Удалить</a>
{% endif %}

{% if "message.can_disabling_mailings_product_distribution" in perms %}
    <form action="{% url 'message:block_distribution' distribution.id %}" method="post">
        {% csrf_token %}
        {% if distribution.mailings_status %}
        <button type="submit" class="btn btn_primery">Заблокировать</button>
        {% else %}
        <button type="submit" class="btn btn_primery">Активировать</button>
        {% endif %}
    </form>
{% endif %}

{% if distribution.owner == user and distribution.mailings_status %}
    <form action="{% url 'message:send_message' distribution.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn_primery">Отправить</button>
    </form>
{% endif %}

<a href="{% url 'message:distribution_list' %}" class="btn btn_primery">Назад</a>


{% endblock %}