{% extends 'base.html' %}

{% block title %}Создать рассылку{% endblock %}

{% block content %}
<h1>
  {% if distribution %}
    ФОРМА ИЗМЕНЕНИЯ РАССЫЛКИ
  {% else %}
    ФОРМА СОЗДАНИЯ РАССЫЛКИ
  {% endif %}
</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  {% if distribution %}
    <button type="submit" class="btn btn-outline-success me-2">Изменить</button>
  {% else %}
    <button type="submit" class="btn btn-outline-success me-2">Добавить</button>
  {% endif %}
</form>

{% endblock %}