{% extends 'base.html' %}

{% block title %}Детальная игформация о Получателе{% endblock %}

{% block content %}

<p class="content">EMAIL: {{recipient.email}}</p>
<p class="content">ФИО: {{recipient.full_name}}</p>
<p class="content">Коментарий: {{recipient.comment}}</p>
{% if "message.change_mailingrecipient" in perms %}
    <a href="{% url 'message:recipient_update' recipient.pk%}" class="btn btn_primery">Изменить</a>
{% endif %}
{% if "message.delete_mailingrecipient" in perms %}
    <a href="{% url 'message:recipient_delete' recipient.pk%}" class="btn btn_primery">Удалить</a>
{% endif %}
<a href="{% url 'message:recipient_list' %}" class="btn btn_primery">Назад</a>


{% endblock %}